:root {
  --white: #ffffff;
  --black: #000000;
  --green: #7ded89;
  --red: #ff002f;
  --antracite: #60625f;
  --light_gray: #edebea;
  --light_blue: #42bedd;
  --dark_blue: #2f7193;
  --pink: #EB6363;
}

/* Set the font family and height for the HTML element */
html {
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Body styles, including background color and layout */
body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Main section styling with padding and centering */
main {
  padding: 100px 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

/* Styles for the main heading */
main h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--antracite);
}

/* Styling for the pink button */
.pink_button {
  background-color: var(--pink);
  border: none;
  border-radius: 7px;
  padding: 20px 40px;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for the pink button */
.pink_button:hover {
  background-color: #d15454; /* Darker shade on hover */
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons.spin {
  animation: spin 1.5s linear infinite; /* Animeren van het sync icoon */
  font-size: 200px;
  color: var(--antracite);
}

@keyframes spin {
  100% {
      transform: rotate(-360deg); /* Verander naar 360 graden voor linksom draaien */
  }
  0% {
      transform: rotate(0deg); /* Start bij 0 graden */
  }
}

/* Styles for the login container */
.login-container {
  background-color: var(--light_gray);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Inner shadow effect for the login container */
.inner-shadow-login {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Styles for the logo container */
.logo {
  background-color: var(--light_blue);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -30px;
  margin-right: -30px;
}

/* Styles for the logo image inside the logo container */
.logo img {
  width: 100%;
  max-width: 320px;
  display: block;
  margin: 0 auto;
}


.error-msg i,
.good-msg i {
  vertical-align: middle;
}

.error-msg #text,
.good-msg #text {
    margin-top: 5px; /* Verplaats de tekst naar beneden met 5px */
}

.login-msg{
  color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 17px;
  font-weight: bold;
  margin-right: 20px;
}

/* Styles for a success message */
.good-msg {
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 17px;
  font-weight: bold;
  margin-right: 20px;
}

/* Styles for an error message */
.error-msg {
  color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 17px;
  font-weight: bold;
}

/* Input group container with relative positioning */
.input-group {
  position: relative;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

/* Input field inside the input group */
.input-group input {
  width: calc(100% - 40px);
  padding: 16px;
  padding-left: 40px;
  border: 1px solid var(--white);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: var(--antracite);
}

/* Icon inside the input group, positioned on the left */
.input-group .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--antracite);
  font-size: 18px;
}

/* Eye Icon for Toggle Password Visibility */
.input-group .toggle-password {
  position: absolute;
  right: 10px; /* Adjust to ensure it's inside the input field */
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--antracite);
  z-index: 1; /* Ensure the icon is above the input field */
}
  
/* Options (Remember Me & Forgot Password) */
.options {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  color: var(--antracite);
  font-size: 14px;
}

/* Styles for the links inside the options */
.options a {
  color: var(--pink);
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

/* Styles for the login button */
.login-btn {
  margin-top: 40px;
  width: 100%;
  padding: 12px;
  background-color: var(--pink);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

/* Styles for the text in the signup section */
.signup-text {
  margin-top: 20px;
  font-size: 14px;
  color: var(--antracite);
}

/* Styles for the link inside the signup text */
.signup-text a {
  color: var(--pink);
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

/* Mobile styling */
@media (max-width: 600px) {
  /* Container for the login section with adjusted margins */
  .login-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -20px;
    margin-bottom: -20px;
  }
}