:root {
    --white: #ffffff;
    --black: #000000;
    --green: #7ded89;
    --red: #ff002f;
    --antracite: #60625f;
    --light_gray: #edebea;
    --light_blue: #42bedd;
    --dark_blue: #2f7193;
    --pink: #EB6363;
}

/* General Styling */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--white);
    height: 100%;
    /* Voeg hoogte toe om centering te verbeteren */
}

/* Centering Content */
.container {
    display: flex;
    justify-content: space-between; /* Zorgt ervoor dat de ruimte tussen de elementen gelijkmatig is */
    align-items: flex-start; /* Zorgt ervoor dat de elementen aan de bovenkant zijn uitgelijnd */
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    gap: 20px; /* Ruimte tussen de elementen */
    margin: 0 auto;
    flex-wrap: wrap; /* Zorgt ervoor dat de elementen op een nieuwe regel komen als er niet genoeg ruimte is */
}

/* Form Section */
.form-container {
    flex: 1 1 60%; /* Verander dit indien nodig om de breedte aan te passen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    max-width: 600px; /* Max breedte van de form-container */
    margin: 100px 20px; /* Boven- en ondermarge, links en rechts automatisch */
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-row input,
.form-row textarea {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid var(--light_gray);
    border-radius: 5px;
}

.form-row input:last-child,
.form-row textarea {
    margin-right: 0;
}

/* Checkout button styling */
.checkout-btn {
    width: 100%;
    background-color: var(--pink);
    /* Use pink color for button */
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: var(--white);
    /* White text on button */
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
    position: relative;
    margin-top: 40px;
}

.checkout-btn a {
    display: block;
    /* Make the link fill the button */
    text-decoration: none;
    /* Remove underline from link */
    color: var(--white);
    /* Ensure text color is white */
    font-size: 24px;
    /* Increase font size */
}

.submit-btn {
    background-color: var(--dark_blue);
    color: var(--white);
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.subtotal-container {
    flex: 1 1 35%; /* Zorg ervoor dat dit percentage goed is ingesteld voor de breedte */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    background-color: var(--white); /* White background */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space items evenly */
    max-height: 500px; /* Set maximum height */
    overflow: hidden; /* Hide overflow content */
    position: relative;
    margin-top: 120px; /* Zorg ervoor dat dit overeenkomt met de bovenmarge van de form-container */
}

.subtotal {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    /* Styling for subtotal */
}

.product-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Style voor individuele producten */
.product-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Naam van het product */
.product-name {
    font-size: 18px;
    color: #333;
}

/* Prijs van het product */
.item-price {
    color: var(--black); /* Verander de kleur naar wat je wilt */
    font-weight: bold; /* Maak de prijs vetgedrukt */
    font-size: 1em; /* Pas de grootte van de tekst aan */
    float: right;
}

/* Stijl voor de total-info sectie */
.total-info {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
/* Divider line for total */
.total-divider {
    border: 0;
    height: 1px;
    background: var(--black);
    /* Black line divider */
    width: 100%;
    margin-bottom: 10px;
}

/* Layout for total price display */
.total-info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    position: relative;
    bottom: 0;
    /* Align at bottom of the container */
    margin-bottom: auto;
}

.total-price {
    font-size: 18px;
}

/* Progress Bar */
.progress-bar {
    display: flex;
    justify-content: space-between;
    /* Zorg ervoor dat er ruimte tussen de stappen is */
    align-items: center;
    /* Center de items verticaal */
    margin: 20px 0;
    position: relative;
    /* Zorg dat de lijnen goed gepositioneerd kunnen worden */
    color: var(--black);
}


.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
    /* Zorg ervoor dat elke stap gelijk verdeeld is */
}

.step-number {
    width: 30px;
    height: 30px;
    background-color: var(--light_gray);
    /* Kleur van de stappen */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--white);
    /* Kleur van de tekst in de stap */
    z-index: 1;
    /* Zorg ervoor dat de cirkels boven de lijnen zijn */
}

.step.active .step-number {
    background-color: var(--pink);
    /* Actieve stap kleur */
}


.step-label {
    margin-top: 5px;
    font-size: 14px;
    color: var(--black);
    /* Kleur van de label tekst */
}

/* Verbindingslijn */
.step::before {
    content: "";
    /* Maakt een lege verbindingselement */
    position: absolute;
    top: 15px;
    /* Positie van de lijn ten opzichte van de stap */
    width: calc(100% - 60px);
    /* Zorg ervoor dat de lijn niet de volledige breedte is */
    height: 2px;
    /* Dikte van de lijn */
    background-color: var(--light_gray);
    /* Kleur van de lijn */
    z-index: 0;
    /* Zorg ervoor dat de lijn onder de stappen ligt */
    left: 0%;
    /* Zet de lijn in het midden */
    transform: translateX(-50%);
    /* Centreer de lijn */
}


/* Verberg de lijn voor de eerste stap */
.step:first-child::before {
    display: none;
    /* Geen lijn voor de eerste stap */
}


/* Kleur de verbinding voor actieve stappen */
.step.active::before {
    background-color: var(--pink);
    /* Kleur van de actieve verbinding */
}

.product-list {
    flex-grow: 1;
    max-height: 250px;
    /* Limit product list height */
    overflow-y: auto;
    /* Make scrollable */
    margin-bottom: 20px;
    font-size: 14px;
}

.product-info {
    display: flex; /* Gebruik flexbox voor horizontale uitlijning */
    justify-content: space-between; /* Zorg ervoor dat er ruimte tussen elementen is */
    width: 100%; /* Zorg ervoor dat de breedte van de container wordt benut */
    align-items: center; /* Zorg ervoor dat alle items verticaal gecentreerd zijn */
    margin-bottom: 10px; /* Optionele marge onder elk product voor extra ruimte */
}

.product-name {
    font-size: 16px;
    color: var(--black);
    /* Styling for product name */
}   

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: var(--black);
    /* Styling for product price */
}
/* Navbar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Zorg ervoor dat er ruimte tussen logo en iconen is */
    background-color: var(--light_blue);
    padding: 10px 20px;
    border-bottom: 2px solid var(--dark_blue);
}

/* Wrapper voor de logo en iconen */
.navbar-wrapper {
    display: flex;
    justify-content: center;
    /* Center the logo within the wrapper */
    flex-grow: 1;
    /* Zorg ervoor dat de wrapper de beschikbare ruimte gebruikt */
}

/* Navbar Logo Buttons distancer */
.navbar-logo {
    margin: 0;
    /* Verwijder de marge */
}

/* Navbar Logo image sizer */
.navbar-logo img {
    height: 50px;
    width: auto;
}


.go-back-btn {
    display: flex;
    align-items: center;
    background-color: var(--dark_blue);
    /* Pink background for go back button */
    color: var(--white);
    /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    /* Rounded button */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.go-back-btn .material-icons {
    font-size: 20px;
    margin-right: 15px;
    /* Space between icon and text */
}

/* Go back button section */
.go-back-container {
    margin: 20px 0;
    /* Space around go back button */
    margin-left: 30px;

}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
    /* Verborgen tot een fout optreedt */
    margin-top: 4px;
}

#message {
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

/* Zorg dat de char count netjes onder het tekstveld staat */
.char-counter {
    text-align: right; /* Optioneel: rechts uitlijnen van de tekst */
    margin-top: 5px;   /* Wat ruimte tussen het tekstveld en de teller */
}

.char-count {
    font-size: 12px;
    color: var(--antracite);
    text-align: ce;
}

.total-price {
    flex: float;
}
/* Media Queries */
@media (max-width: 1215px) {
    .subtotal-container {
        flex: 1 1 35%;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 460px; /* Verlaagde hoogte met 20px */
        overflow: hidden;
        position: relative;
        margin: -20px 60px 100px; /* Gecombineerde marges */
    }
}

@media (max-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        max-width: 1200px;
        padding: 0;
        gap: 0;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .subtotal-container {
        padding: 20px;
        margin: 20px 15px; /* Gecombineerde marges */
    }

    .form-row {
        margin-bottom: 20px;
        position: relative;
    }

    .form-row input,
    .form-row textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .form-row input:last-child,
    .form-row textarea {
        margin-right: 0; /* Geen marge aan de rechterkant voor het laatste element */
    }

    .subtotal {
        font-size: 20px; /* Aanpassen van de lettergrootte voor subtotaal */
    }

    .total-info {
        font-size: 16px; /* Aanpassen van de lettergrootte voor totaal info */
    }

    .checkout-btn {
        font-size: 18px; /* Aanpassen van de lettergrootte voor de knop */
    }

    .product-name,
    .product-price {
        font-size: 14px; /* Aanpassen van de lettergrootte voor product info */
    }

    .step-number {
        width: 25px; /* Kleinere stapnummers */
        height: 25px; /* Kleinere stapnummers */
        font-size: 14px; /* Aanpassen van de lettergrootte */
    }

    .step-label {
        font-size: 12px; /* Kleinere staplabel */
    }

    .navbar-logo {
        margin-left: 20px; /* Aanpassen van de marge voor kleinere schermen */
    }

    .total-info span {
        margin: 10px 0 -20px; /* Gecombineerde marges */
    }
}

@media (max-width: 480px) {
    .form-row {
        flex-direction: column; /* Stapel invoervelden verticaal */
    }

    .form-row input,
    .form-row textarea {
        margin: 0 0 10px; /* Verwijder rechter marge en voeg ondermarge toe */
        width: 100%;
    }

    .total-info {
        flex-direction: column; /* Stapel totaal info verticaal */
        align-items: flex-start; /* Align items naar het begin */
    }

    .checkout-btn,
    .go-back-btn {
        padding: 10px; /* Aanpassen van de opvulling voor kleinere schermen */
        width: 60%; /* Set the width to a smaller percentage */
        max-width: 120px; /* Optioneel: limit maximum width */
        font-size: 14px; /* Optioneel: adjust font size for smaller screens */
        margin-right: 100px; /* Voor de go-back-btn */
    }

    .form-row textarea {
        height: 100px;
    }

    .total-price {
        margin-bottom: 0; /* Verwijder ondermarge */
        padding-left: 80%; 
    }
}

@media (max-width: 360px) {
    .total-price {
        margin-left: 0%; /* Breid de negatieve marge uit om een goede uitlijning te bereiken */
    }
}

