/* Zorg ervoor dat je alle imports hebt, zoals in je originele bestand */
@import url('../../header & footer/color_pallet.css');

/* Root variables */
:root {
    --white: #ffffff;
    --black: #000000;
    --green: #7ded89;
    --red: #ff002f;
    --antracite: #60625f;
    --light_gray: #edebea;
    --light_blue: #42bedd;
    --dark_blue: #2f7193;
    --pink: #EB6363;
}

.pink_button {
    background-color: var(--pink);
    border: none;
    color: var(--white);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 7px;
}

.pink_button_shop {
    background-color: var(--pink);
    border: none;
    color: var(--white);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 7px;
    width: 200px;
    margin-right: 20px;
    height: 45px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.store-container {
    display: flex;
    position: relative; /* Allow absolute positioning inside */
}

/* Sidebar styling */
.store-sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 15px;
    transition: width 0.3s ease;
    position: relative;
}

/* Collapse the sidebar */
.store-sidebar.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
}

/* Filter Toggle Button */
.filter-toggle-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--light_blue);
    color: var(--white);
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.filter-toggle-btn:hover {
    background-color: var(--dark_blue);
}

.selected-filters {
    display: flex;
    margin-left: 17%; /* Ruimte van de zoekbalk */
    transform: translateY(40px); /* Verschuif de filters naar beneden */
}

.selected-filter {
    background-color: var(--light_blue);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px; /* Ruimte tussen filters */
    cursor: pointer; /* Cursor als pointer voor interactie */
}

/* Collapse Sidebar Button */
.collapse-sidebar-btn {
    display: none; /* Hidden by default */
    width: 100%;
    padding: 10px;
    background-color: var(--light_blue);
    color: var(--white);
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    position: absolute;
    bottom: 60px; /* Adjust as needed */
}

.collapse-sidebar-btn:hover {
    background-color: var(--dark_blue);
}

/* Expand Sidebar Button */
.expand-sidebar-btn {
    display: none; /* Hidden by default */
    padding: 10px;
    background-color: var(--light_blue);
    color: var(--antracite);
    border: none;
    cursor: pointer;
    text-align: center;
    transform: translateY(110%); /* Centreer de knop verticaal */
    font-size: 24px;
    font-weight: bold;
    margin-left: 60px;
}


/* Filter Category Header */
.filter-header {
    width: 100%;
    padding: 15px;
    background-color: var(--light_gray);
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.filter-header:hover {
    background-color: var(--dark_blue);
    color: var(--white);
}

/* Vergroot de filteroptie cards */
.filter-option-card {
    background-color: var(--white);
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    font-weight: normal;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.filter-option-card.selected {
    background-color: var(--light_blue);
    color: var(--white);
}

.filter-option-card.selected:hover {
    background-color: var(--pink);
    color: var(--white);
}

.filter-option-card:hover {
    background-color: var(--light_blue);
    color: var(--white);
    transform: scale(1.05);
}

/* Filter Options Container */
.filter-options {
    display: none;
    padding-left: 0;
}

.filter-options.show {
    display: block;
}


/* Store Main Content */
.store-main-content {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.store-main-content.shifted {
    margin-left: 10%;
}

.store-search-bar {
    display: flex;
    width: 360px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 1000px;
}

.store-search-input {
    width: 80%;
    border: none;
    outline: none;
    font-size: 16px;
}

/* Product Grid Layout */
.store-product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Zorg voor 3 kolommen */
    gap: 20px; /* Ruimte tussen de producten */
    max-width: fit-content; /* Maximale breedte van de productgrid */
    margin-left: 50px; /* Centreer de productgrid */
}

/* Product Card Styling */
.store-product-card {
    padding: 10px;
    background-color: var(--light_gray);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.store-product-card:hover {
    transform: scale(1.02); /* Kleine vergroting bij hover effect */
}

.store-product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.store-product-price {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 550;
}

.store-product-image {
    display: inline-block;
    vertical-align: top;
    width: 120px;
}

.store-product-description {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 170px);
    text-align: left;
    padding-left: 10px;
    background-color: #D9D9D9; 
}

.store-product-image img {
    width: 100%;
    height: auto;
}

.store-product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: var(--dark_blue);
    color: var(--white);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.pagination-button:hover {
    background-color: var(--light_blue);
}

.pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Media Query for screen widths less than 1474px */
@media (min-width: 1000px) and (max-width: 1475px) {
    
    .store-main-content {
        width: auto; /* Allow the content to resize based on available space */
        margin: 0 auto; /* Center the main content */
    }

    .store-product-grid {
        grid-template-columns: repeat(3, 1fr); /* Keep 3 columns */
        gap: 20px;
        padding: 10px;
        right: 20%;
    }
    
    /* Adjust the search bar's position to be centered as well */
    .store-search-bar {
        margin-left: 780px;
        display: flex;
        justify-content: center;
        width: fit-content;
    }

    /* Adjust Sidebar, make sure it doesn't take up unnecessary space */
    .store-sidebar {
        width: 250px; /* Or any width that suits smaller screens */
    }

    /* Handle selected filters container to be centered */
    .selected-filters {
        justify-content: center;
        margin-left: 0;
        transform: translateY(40px); 
    }

    .pink_button_shop {
        width: 150px;
        margin-right: 10px;
        height: 35px;
    }

}
