:root {
    --white: #ffffff; /* White color */
    --black: #000000; /* Black color */
    --green: #7ded89; /* Light green color */
    --red: #ff002f; /* Bright red color */
    --antracite: #60625f; /* Dark grayish color */
    --light_gray: #edebea; /* Light gray color */
    --light_blue: #42bedd; /* Light blue color */
    --dark_blue: #2f7193; /* Dark blue color */
    --pink: #EB6363; /* Pink color */
}

/* Styles for the scroll to top button */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 70px; 
    height: 50px; 
    background-color: var(--dark_blue); 
    border: 2px solid var(--light_blue); 
    border-radius: 15px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: var(--white); 
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, background-color 0.3s, border-color 0.3s; 
    z-index: 1000
}

/* Styles for the hover effect on the scroll to top button */
#scrollToTopBtn:hover {
    background-color: var(--light_blue);
    border-color: var(--dark_blue);
}

/* Style for the scroll icon inside the button */
.scroll-icon {
    font-size: 30px; 
}

/* Makes the button visible when it has the 'show' class */
#scrollToTopBtn.show {
    opacity: 1; 
    visibility: visible;
}
