:root {
    --white: #ffffff;
    --black: #000000;
    --green: #7ded89;
    --red: #ff002f;
    --antracite: #60625f;
    --light_gray: #edebea;
    --light_blue: #42bedd;
    --dark_blue: #2f7193;
    --pink: #EB6363;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 50px;
    background-color: var(--dark_blue);
    border: 2px solid var(--light_blue); /* Voeg een border van 2 pixels toe in de witte kleur */
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, background-color 0.3s, border-color 0.3s;
    z-index: 1000;
    
}

#scrollToTopBtn:hover {
    background-color: var(--light_blue); /* Iets donkerdere tint van dark_blue */
    border-color: var(--dark_blue) /* Houd de border wit bij hover */
}


.scroll-icon{
    font-size: 30px;
}

#scrollToTopBtn.show {
    opacity: 1;
    visibility: visible;
}
