:root {
    /* Define the color variables for the website */
    --white: #ffffff; /* White color */
    --black: #000000; /* Black color */
    --green: #7ded89; /* Green color */
    --antracite: #60625f; /* Color for subheaders and paragraphs */
    --light_gray: #edebea; /* Light gray background color */
    --light_blue: #42bedd; /* Primary brand color (light blue) */
    --dark_blue: #2f7193; /* Secondary brand color (dark blue) */
    --pink: #EB6363; /* Contrast color (pink) */
}

/* Navigation bar icon container styling */
.nav-bar-icons {
    position: relative;
    display: flex;
    align-items: center;
}

/* Styling for the cart icon button */
.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Styling for the cart icon itself */
.material-icons {
    font-size: 24px;
    margin-right: 5px;
}

/* Styling for the cart count badge (round circle) */
.cart-count {
    position: absolute;
    top: 0px;
    right: 10px; 
    background-color: var(--pink);
    color: var(--white); 
    border-radius: 50%;
    padding: 2px 2px;
    min-width: 20px;
    height: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 20px;
}

/* Styling for the cart count text */
#cart-count {
    font-size: 12px;
    text-align: center;
}
