/* Algemene stijlen voor alle schermformaten */
:root {
    --white: #ffffff; /* white */
    --black: #000000; /* black */
    --green: #7ded89; /* green */
    --sub_antracite: #60625f; /* Subheaders */
    --par_antracite: #60625f; /* Paragraph */
    --light_gray: #edebea; /* Background color */
    --light_blue: #42bedd; /* Primary brand color */
    --dark_blue: #2f7193; /* Secondary brand color */
    --pink: #EB6363; /* Contrast color */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--light_gray);
    color: var(--black);
    margin: 0;
    padding: 0;
}

.contact-content {
    display: flex;
    flex-direction: row; /* Standaard horizontale layout */
    height: auto; /* Verander naar auto om ruimte te geven aan de inhoud */
   
    margin-bottom: 20px; /* Voeg wat ruimte toe onder de inhoud */
}

.contact-left-side {
    width: 50%; 
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centreert de inhoud verticaal */
    align-items: center;
    padding: 20px; /* Zorg voor wat padding rondom de inhoud */
    margin-bottom: -20px;
}

.contact-form,
.contact-newsletter {
    width: 100%; /* Formulieren nemen de volledige breedte in */
    max-width: 600px; /* Max breedte voor een betere weergave */
}

.contact-form,
.contact-newsletter,
.contact-info {
    margin-bottom: 20px;
}

.contact-form h2,
.contact-newsletter h2,
.contact-info h2 {
    color: var(--dark_blue);
}

.contact-form form,
.contact-newsletter form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Formulieren vullen de volledige breedte */
}

.contact-form input,
.contact-form textarea,
.contact-newsletter input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 0px solid var(--dark_blue);
    box-shadow: inset 0px 0px 10px rgba(233, 229, 229, 0.9);
    width: 100%; /* Vult de volledige breedte van de container */
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Vergroot de ruimte tussen de knoppen */
    margin-top: 20px;
    width: 100%; /* Zorg ervoor dat knoppen de volledige breedte gebruiken */
}

.contact-pink_button {
    background-color: var(--pink);
    color: var(--white);
    border: none;
    padding: 15px 30px; 
    font-size: 16px;
    font-weight: bold; 
    cursor: pointer;
    border-radius: 8px; 
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease; 
    width: 104%;
    margin-bottom: 20px;
}

.contact-pink_button:hover {
    background-color: #d75454; 
}

/* Kleine knoppen voor 'View our store' en 'Check the FAQ' */
.contact1-pink_button {
    background-color: var(--pink);
    color: var(--white);
    border: none;
    padding: 10px 20px; /* Kleinere padding voor kleinere knoppen */
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* Maakt de knoppen meer afgerond */
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Voor een soepele hover-overgang */
    width: auto; /* Zorg ervoor dat de knoppen hun standaardgrootte behouden */
}

.contact1-pink_button:hover {
    background-color: #d75454; /* Iets donkerder roze bij hover */
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center; /* Centreer de tekst */
}

.contact-row {
    display: flex;
    flex-direction: row; /* Zorg ervoor dat de items in een rij worden weergegeven */
    justify-content: center; /* Centreer de items horizontaal */
    width: 100%; /* Zorg ervoor dat de rij de volledige breedte gebruikt */
    flex-wrap: wrap; /* Zorg ervoor dat de rijen omwikkelen op kleinere schermen */
    margin-left: 100px;
}

.contact-row p {
    color: var(--sub_antracite);
    margin: 0;
    margin-left: -50px;
    width: 45%; /* Zorg ervoor dat de paragrafen 45% van de breedte gebruiken, zodat ze in rijen passen */
    text-align: left; /* Centreer de tekst */
}

.contact-row p a {
    color: var(--sub_antracite);
    text-decoration: none;
    font-size: 16px; /* Pas dit aan naar de gewenste grootte */
}

.right-side {
    width: 50%;
    height: auto; /* Verander naar auto om ruimte te geven aan de inhoud */
    margin-bottom: -20px;
}

.right-side iframe {
    width: 100%;
    height: 100%;
    border: 0; /* Verwijder eventuele rand om de iframe */
}

/* Responsieve stijlen voor tablets */
@media (max-width: 1300px) {
    .contact-content {
        flex-direction: column; /* Zet de content op een verticale stapel voor kleinere schermen */
    }

    .contact-left-side {
        width: 100%; /* Zorg ervoor dat de linkerzijde de volledige breedte gebruikt */
        padding: 10px; /* Verminder padding voor kleinere schermen */
        box-shadow: none; /* Verwijder schaduw op kleinere schermen voor een eenvoudiger ontwerp */
    }

    .contact-form,
    .contact-newsletter {
        width: 90%; /* Verklein de breedte van formulieren voor een betere weergave op tablets */
        max-width: 600px; /* Stel een maximale breedte in om te voorkomen dat formulieren te breed worden */
    }

    .contact-row {
        display: flex;
        flex-direction: row; /* Zorg ervoor dat de items in een rij worden weergegeven */
        justify-content: center; /* Centreer de items horizontaal */
        width: 94%; /* Zorg ervoor dat de rij de volledige breedte gebruikt */
        flex-wrap: wrap; /* Zorg ervoor dat de rijen omwikkelen op kleinere schermen */
    }

    .contact-row p {
        color: var(--sub_antracite);
        margin: 0;
        margin-left: -50px;
        width: 50%; /* Zorg ervoor dat de paragrafen 50% van de breedte gebruiken, zodat ze in rijen passen */
        text-align: left; /* Centreer de tekst */
    }

    .right-side {
        width: 100%; /* Zorg ervoor dat de rechterzijde de volledige breedte gebruikt */
        height: 300px; /* Stel een vaste hoogte in voor de Google Maps iframe op kleinere schermen */
        order: -1; /* Verplaats de Google Maps iframe naar boven */
    
        position: relative; /* Zorg voor een correcte positionering van de iframe */
    }

    .right-side iframe {
        position: absolute; /* Zorg ervoor dat de iframe absoluut gepositioneerd is binnen zijn container */
        top: 0; /* Zet de iframe naar de bovenkant van de container */
        left: 0; /* Zet de iframe naar de linkerzijde van de container */
        width: 100%; /* Laat de iframe de volledige breedte van zijn container gebruiken */
        height: 100%; /* Laat de iframe de volledige hoogte van zijn container gebruiken */
    }

    
}

@media (max-width: 700px) {
    .contact-content {
        height: auto; /* Zorg ervoor dat de hoogte automatisch is voor kleinere schermen */
        margin-bottom: 0; /* Verwijder eventuele marge onder de inhoud */
    }

    .contact-left-side {
        padding: 5px; /* Verminder padding voor nog kleinere schermen */
    }

    .right-side {
        height: 200px; /* Verminder hoogte voor nog kleinere schermen */
    }

    .contact-form,
    .contact-newsletter {
        width: 90%; /* Verklein de breedte van formulieren */
        max-width: 400px; /* Stel een maximale breedte in om te voorkomen dat formulieren te breed worden */
        margin:  auto; /* Centreer de formulieren */
    }

    .contact-form input,
    .contact-form textarea,
    .contact-newsletter input {
        font-size: 14px; /* Verklein de tekstgrootte voor een betere weergave op kleine schermen */
        padding: 8px; /* Verklein de padding voor een betere weergave op kleine schermen */
    }

    .contact-pink_button {
        padding: 10px 20px; /* Verklein de padding voor knoppen op kleine schermen */
        font-size: 14px; /* Verklein de tekstgrootte voor knoppen op kleine schermen */
        width: 100%; /* Zorg ervoor dat de submit-knoppen even breed zijn als de formuliervelden */
        margin-bottom: 20px; /* Voeg marge toe onder de knoppen om ruimte te geven tot de footer */
    }

    .contact-row {
        display: flex;
        flex-direction: column; /* Zet items in een kolom op kleinere schermen */
        justify-content: center; /* Centreer de items horizontaal */
        width: 100%; /* Zorg ervoor dat de rij de volledige breedte gebruikt */
        margin-top: 15px;
        padding: 0 10px; /* Voeg wat padding toe om te voorkomen dat tekst tegen de randen zit */
    }

    .contact-row p {
        color: var(--sub_antracite);
        margin: 0;
        margin-left: 0; /* Verwijder negatieve marge */
        width: 100%; /* Zorg ervoor dat de paragrafen de volledige breedte gebruiken */
        text-align: center; /* Centreer de tekst */
    }

    .contact-row p a {
        color: var(--sub_antracite);
        text-decoration: none;
        font-size: 16px; /* Pas dit aan naar de gewenste grootte */
    }
}

@media (max-width: 480px) {
    .contact-content {
        height: auto; /* Zorg ervoor dat de hoogte automatisch is voor kleinere schermen */
        margin-bottom: 0; /* Verwijder eventuele marge onder de inhoud */
    }

    .contact-left-side {
        padding: 0px; /* Verminder padding voor nog kleinere schermen */
    }

    .right-side {
        height: 200px; /* Verminder hoogte voor nog kleinere schermen */
    }

    .contact-form,
    .contact-newsletter {
        width: 80%; /* Verklein de breedte van formulieren */
        max-width: 375px; /* Stel een maximale breedte in om te voorkomen dat formulieren te breed worden */
        margin: 0 auto; /* Centreer de formulieren */
    }

    .contact-form input,
    .contact-form textarea,
    .contact-newsletter input {
        font-size: 14px; /* Verklein de tekstgrootte voor een betere weergave op kleine schermen */
        padding: 8px; /* Verklein de padding voor een betere weergave op kleine schermen */
    }

    .contact-pink_button {
        padding: 10px 20px; /* Verklein de padding voor knoppen op kleine schermen */
        font-size: 14px; /* Verklein de tekstgrootte voor knoppen op kleine schermen */
        width: 105%; /* Zorg ervoor dat de submit-knoppen even breed zijn als de formuliervelden */
        margin-bottom: 20px; /* Voeg marge toe onder de knoppen om ruimte te geven tot de footer */
    }

    .contact-row {
        display: flex;
        flex-direction: column; /* Zet items in een kolom op kleinere schermen */
        justify-content: center; /* Centreer de items horizontaal */
        width: 100%; /* Zorg ervoor dat de rij de volledige breedte gebruikt */
        margin-top: 15px;
        padding: 0 10px; /* Voeg wat padding toe om te voorkomen dat tekst tegen de randen zit */
    }

    .contact-row p {
        color: var(--sub_antracite);
        font-size: 14px;
        margin: 0;
        margin-left: -10px; /* Verwijder negatieve marge */
        width: 80%; /* Zorg ervoor dat de paragrafen de volledige breedte gebruiken */
        text-align: left; /* Centreer de tekst */
    }

    .contact-row p a {
        color: var(--sub_antracite);
        text-decoration: none;
        font-size: 14px; /* Pas dit aan naar de gewenste grootte */
    }

    .contact1-pink_button {
        background-color: var(--pink);
        color: var(--white);
        border: none;
        padding: 10px 20px; /* Kleinere padding voor kleinere knoppen */
        font-size: 16px;
        cursor: pointer;
        border-radius: 8px; /* Maakt de knoppen meer afgerond */
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease; /* Voor een soepele hover-overgang */
        width: auto; /* Zorg ervoor dat de knoppen hun standaardgrootte behouden */
        margin-bottom: 30px;
    }
}
