:root {
    /* Define the color variables for the website */
    --white: #ffffff; /* White color */
    --black: #000000; /* Black color */
    --green: #7ded89; /* Green color */
    --antracite: #60625f; /* Color for subheaders and paragraphs */
    --light_gray: #edebea; /* Light gray background color */
    --light_blue: #42bedd; /* Primary brand color (light blue) */
    --dark_blue: #2f7193; /* Secondary brand color (dark blue) */
    --pink: #EB6363; /* Contrast color (pink) */
}

/* General body styling */
body {
    font-family: Arial, sans-serif;
    color: var(--black);
    margin: 0;
    padding: 0;
}

/* Styling for links inside paragraphs */
main p a {
    font-size: 30px;
    color: var(--light_blue);
    font-weight: bold;
    text-decoration: none;
}

/* Styling for h3 elements in the main content */
main h3 {
    font-size: 45px;
    color: var(--dark_blue);
    font-weight: bold;
    text-decoration: none;
}

/* Main content section padding */
main {
    padding: 50px;
}

/* Styling for h1 elements in the main content */
main h1 {
    font-size: 40px;
    color: var(--dark_blue);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

/* Background styling for .bg class */
.bg {
    background-color: var(--light_gray);
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Media query for smaller screens (880px or less) */
@media (max-width: 880px) {

    /* Adjust link size and styling for smaller screens */
    main p a {
        font-size: 20px;
        color: var(--light_blue);
        font-weight: bold;
        text-decoration: none;
    }

    /* Adjust h3 size and styling for smaller screens */
    main h3 {
        font-size: 30px;
        color: var(--dark_blue);
        font-weight: bold;
        text-decoration: none;
    }

    /* Main content padding adjustment for smaller screens */
    main {
        padding: 50px;
    }

    /* Adjust h1 size, margin, and text alignment for smaller screens */
    main h1 {
        font-size: 30px;
        color: var(--dark_blue);
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }

    /* Adjust .bg layout and text alignment for smaller screens */
    .bg {
        flex: auto;
        flex-direction: column;
        text-align: center;
    }
}
